# Exploratory Data Analysis

This feels a little out of order because I've already done some processing. But that was crucial to be able to look at the data further. With that done, I have a few EDA angles to take here.

1. Look for representation of each schema in my data, and how balanced that representation is.
2. Look at word frequency in my questions, see if anything looks out of whack.
3. Look at similarity between schema titles. I may not fix anything here, but want to know what challenges I may face in modelling, predicting.

## Imports & Data Loading

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pickle #for loading processed data

%matplotlib inline

In [9]:
with open('../data/processed/processed_training_data.pkl', 'rb') as pkl_file:
    training = pickle.load(pkl_file)

training.head()

                  schema                                      question_proc
0  department_management                [many, head, department, older, 56]
1  department_management  [list, name, bear, state, age, head, departmen...
2  department_management   [list, creation, year, name, budget, department]
3  department_management             [maximum, minimum, budget, department]
4  department_management  [average, number, employee, department, whose,...

## Training Data EDA

### 1. Schema Representation

In [12]:
# view value counts
training.schema.value_counts(ascending=False)

schema
scholar           569
geo               564
academic          181
college_2         170
college_1         164
                 ...
solvency_ii        15
phone_market       15
local_govt_mdm     14
soccer_1           14
company_1           7
Name: count, Length: 146, dtype: int64

The distribution is heavy on scholar and geo, which come from the 'train-others' files. I'm a little suprised to see that since I don't think there was actually data provided for those databases. If it becomes a problem we may have to pivot to only use the resources provided by the team that created the spider databases. Not the "others".

#### Bring in schema information to compare to training data

In [13]:
schema = pd.read_csv('../data/processed/schema_info.csv')
schema.head()

,schema,table,column_name,column_type,is_primary_key,is_foreign_key,fk_reference_table,fk_reference_column
0,perpetrator,perpetrator,perpetrator_id,numeric,True,False,NaN,NaN
1,perpetrator,perpetrator,people_id,numeric,False,True,people,People_ID
2,perpetrator,perpetrator,date_value,date,False,False,NaN,NaN
3,perpetrator,perpetrator,year,numeric,False,False,NaN,NaN
4,perpetrator,perpetrator,location,text,False,False,NaN,NaN